<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Konfirmasi <b>
                        <%= status %>
                    </b> Quest
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/approveQuest" class="formSubmit" method="post">
                <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                    <div id="errGlobal" class="text-danger mb-3 text-center" style="display: none;"></div>
                    <% if(data.length> 0) { %>
                        <input type="text" name="id" value="<%= data[0].ID %>" hidden>
                        <input type="text" name="status" value="<%= status %>" hidden>
                        <table class="table table-bordered text-center">
                            <thead class="bg-primary">
                                <th class="text-white">Tanggal</th>
                                <th class="text-white">Quest</th>
                                <th class="text-white">Value</th>
                                <th class="text-white">Hadiah</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= (()=> {
                                            let startDate = new Date(data[0].StartDate);
                                            let endDate = new Date(data[0].EndDate);
                                            const format = (d) => {

                                            let date = new Date(d);
                                            date = new Date(date.toLocaleString("en-US", { timeZone: "Asia/Jakarta" }));
                                            date.setDate(date.getDate());

                                            let day = ('0' + date.getDate()).slice(-2);
                                            let month = ('0' + (date.getMonth() + 1)).slice(-2);
                                            let year = date.getFullYear();

                                            return day + "-" + month + "-" + year;
                                            };
                                            let startStr = format(startDate);
                                            let endStr = format(endDate);
                                            return `${startStr} - ${endStr}`

                                            })(); %>
                                    </td>
                                    <td>
                                        <%- data[0].Quest.split(',').join('<br>') %>

                                    </td>
                                    <td>
                                        <%- data[0].Value.split(',').join('<br>') %>
                                    </td>
                                    <td>
                                        <%- data[0].Prize.split(',').join('<br>') %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                            <% if (status==='REJECTED' ) { %>
                                <div class="mb-3">
                                    <label for="remarks" class="form-label">Alasan Reject</label>
                                    <textarea class="form-control text-white" id="remarks" name="remarks" rows="3"
                                        required></textarea>
                                </div>
                                <% } %>
                </div>
                <div class="modal-footer">
                    <% if(data.length> 0) { %>
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                        <% } %>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.formSubmit').submit(function (e) {
        e.preventDefault()
        let form = $(this)
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            dataType: 'json',
            data: form.serialize(),
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
                $('#btnSubmit').html('<i class="fa fa-spin fa-spinner"></i>')
            },
            success: function (response) {

                if (response.redirect) {
                    window.location.href = response.redirect
                }

                if (response.error) {
                    $('#btnSubmit').removeAttr('disabled', 'disabled')
                    $('#btnSubmit').html('Submit')
                    if (response.error.global) {
                        $('#errGlobal').html(response.error.global).show()
                    } else {
                        $('#errGlobal').html('').hide()
                    }

                    if (response.error.remarks) {
                        $('#errGlobal').html(response.error.remarks).show()
                        $('#remarks').addClass('is-invalid')
                    } else {
                        $('#errGlobal').html('').hide()
                        $('#remarks').removeClass('is-invalid')
                    }
                }

                if (response.status) {
                    $('#confirmationModal').modal('hide')
                    dataTable.ajax.reload(null, false)
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>