<div class="modal fade" id="deleteBannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit" autocomplete="off">
                <input type="hidden" name="ID" id="ID" value="<%= data.ID %>">
                <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="<%= data.Name %>"
                                readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Image Dekstop</label>
                            <img src="<%= data.Image_Banner %>" width="100%" alt="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Image Mobile</label>
                            <img src="<%= data.Image_Mobile %>" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" class="btnSubmit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".formSubmit").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/deleteBanner',
            type: 'post',
            dataType: 'json',
            data: $(this).serialize(),
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
            },
            success: function (response) {
                $('#btnSubmit').removeAttr('disabled')
                if (response.logout) {
                    window.location.href = response.logout
                } else {
                    window.location.reload()
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>