<div class="table-responsive">
    <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
    <table class="table" id="tableLuckySpinPrize">
        <thead>
            <tr>
                <th>Loyalty</th>
                <th>Jenis</th>
                <th>Prize</th>
                <th>Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el=> { %>
                <tr>
                    <td>
                        <%= el.Loyalty %>
                    </td>
                    <td>
                        <%= el.Jenis %>
                    </td>
                    <td>
                        <%= (isNaN(Number(el.Prize)) || el.Prize.trim()==='' ) ? el.Prize :
                            Number(el.Prize).toLocaleString('id-ID') %>
                    </td>
                    <td>
                        <%= el.PrizeLevel %>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info" onclick="editPrize('<%= el.ID %>')">Edit</button>
                        <button class="btn btn-sm btn-danger" onclick="deletePrize('<%= el.ID %>')">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<div id="viewDataTableModal" style="display: none;"></div>
<script>
    $(document).ready(function () {
        let luckyspinPrize = null;
        if (luckyspinPrize !== null) {
            luckyspinPrize.destroy();
        }
        luckyspinPrize = $('#tableLuckySpinPrize').DataTable({
            ordering: false,
            searching: false,
            paging: false,
        });
    });

    function editPrize(ID) {
        $.ajax({
            url: '/getUpdatePrize',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#updatePrizeModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }

    function deletePrize(ID) {
        $.ajax({
            url: '/getDeletePrize',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#deletePrizeModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }
</script>