<div class="modal fade" id="deleteCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Coupon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit">
                <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="">Loyalty</label>
                                    <input type="hidden" name="TokenID" id="TokenID" value="<%= ID %>" readonly>
                                    <input type="text" name="LoyaltySelect" id="LoyaltySelect" value="<%= Loyalty %>"
                                        class="form-control" readonly>
                                    <div class="invalid-feedback" id="errLoyalty"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="">Username Player</label>
                                    <input type="text" name="Username" id="Username" value="<%= Username %>"
                                        class="form-control" readonly>
                                    <div class="invalid-feedback" id="errUsername"></div>
                                </div>
                            </div>
                            <% if(ExpiredDate !='' ){ %>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="">Expired Date</label>
                                        <input type="text" name="ExpiredDate" id="ExpiredDate"
                                            class="form-control bg-white" value="<%= ExpiredDate %>" readonly>
                                        <div class="invalid-feedback" id="errExpiredDate"></div>
                                    </div>
                                </div>
                                <div class="lastDataCoupon bg-white mb-3">
                                    <h5 class="text-center text-black">Current Prize</h5>
                                    <div class="table-responsive p-2 text-center">
                                        <table class="table">
                                            <thead>
                                                <th>Loyalty</th>
                                                <th>Prize</th>
                                            </thead>
                                            <tbody>
                                                <% dataCoupon.forEach((el)=>{ %>
                                                    <tr>
                                                        <td>
                                                            <%= el.Loyalty %>
                                                        </td>
                                                        <td>
                                                            <%= el.Prize %>
                                                        </td>
                                                    </tr>
                                                    <%}) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <%} %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" class="btnSubmit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".formSubmit").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/deleteCoupon',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                ID: $("#TokenID").val(),
            },
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
            },
            success: function (response) {
                $('#btnSubmit').removeAttr('disabled')
                if (response.error) {
                    if (response.error.Loyalty) {
                        $("#errLoyaltySelect").text(response.error.Loyalty)
                        $("#LoyaltySelect").addClass('is-invalid')
                    } else {
                        $("#errLoyaltySelect").text('')
                        $("#LoyaltySelect").removeClass('is-invalid')
                    }
                    if (response.error.Username) {
                        $("#errUsername").text(response.error.Username)
                        $("#Username").addClass('is-invalid')
                    } else {
                        $("#errUsername").text('')
                        $("#Username").removeClass('is-invalid')
                    }
                } else {
                    window.location.reload()
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>