<div class="modal fade" id="updatePrizeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Prize</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit text-white">
                <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
                <input type="hidden" name="ID" id="ID" value="<%= data.ID %>">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Loyalty</label>
                            <input type="text" name="LoyaltySelect" id="LoyaltySelect" class="form-control"
                                value="<%= data.Loyalty %>" readonly>
                            <div class="invalid-feedback" id="errLoyaltySelect"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Jenis Hadiah</label>
                            <select name="Type" id="Type" class="form-select">
                                <option value="">- Pilih Jenis Hadiah -</option>
                            </select>
                            <div class="invalid-feedback" id="errType"></div>
                        </div>
                    </div>
                    <div class="row mb-3" id="nominal" style="display: none;">
                        <div class="col">
                            <label for="">Nominal (Rp)</label>
                            <input type="text" name="Nominal" id="Nominal" class="form-control numeric"
                                value="<%= data.Prize %>">
                            <div class="invalid-feedback" id="errNominal"></div>
                        </div>
                    </div>
                    <div class="row mb-3" id="barang" style="display: none;">
                        <div class="col">
                            <label for="">Nama Barang</label>
                            <input type="text" name="Barang" id="Barang" class="form-control">
                            <div class="invalid-feedback" id="errBarang"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Level Hadiah</label>
                            <select name="Level" id="Level" class="form-select">
                                <option value="">- Pilih Level Hadiah -</option>
                                <option value="GrandPrize" <%=data.PrizeLevel=='GrandPrize' ? 'selected' : '' %>
                                    >GrandPrize</option>
                                <option value="RarePrize" <%=data.PrizeLevel=='RarePrize' ? 'selected' : '' %>
                                    >RarePrize
                                </option>
                                <option value="CommonPrize" <%=data.PrizeLevel=='CommonPrize' ? 'selected' : '' %>
                                    >CommonPrize</option>
                                <option value="BasicPrize" <%=data.PrizeLevel=='BasicPrize' ? 'selected' : '' %>
                                    >BasicPrize</option>
                            </select>
                            <div class="invalid-feedback" id="errLevel"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" class="btnSubmit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.10.7/autoNumeric.min.js"
    integrity="sha512-PeXqWg6jrDiMcCruPw4Xr59oeIzqHlD2z7ffueHcWQE7+1DuzPAQz1ywu3gfCHAPXxHE6RejKe2DlhjYTmQgLw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    new AutoNumeric.multiple('.numeric', {
        digitGroupSeparator: ".",
        decimalCharacter: ",",
        decimalCharacterAlternative: ".",
        unformatOnSubmit: true,
        minimumValue: '0'
    });
    $(document).ready(function () {
        if ('<%= data.Jenis %>' == 'Uang') {
            $("#nominal").show()
            $("#Nominal").val('<%= data.Prize %>').prop('readonly', false)
        } else if ('<%= data.Jenis %>' == 'Barang') {
            $("#barang").show()
            $("#Barang").val('<%= data.Prize %>').prop('readonly', false)
        } else {
            $("#barang").show()
            $("#Barang").val('<%= data.Prize %>').prop('readonly', true)
        }
        if ($('#LoyaltySelect').val() != '') {
            let loyalty = $('#LoyaltySelect').val();
            let typeSelect = $("#Type");
            typeSelect.empty();
            typeSelect.append('<option value="">- Pilih Jenis Hadiah -</option>');
            if (loyalty) {
                typeSelect.append(
                    `<option value="Uang" ${'<%= data.Jenis %>' === "Uang" ? "selected" : ""}>Uang</option>`
                );
                typeSelect.append(
                    `<option value="Barang" ${'<%= data.Jenis %>' === "Barang" ? "selected" : ""}>Barang</option>`
                );
                if (loyalty !== 'Diamond') {
                    typeSelect.append(
                        `<option value="Tiket" ${'<%= data.Jenis %>' === "Tiket" ? "selected" : ""}>Tiket</option>`
                    );
                }
            }
        }
    });
    $("#LoyaltySelect").on('change', function (e) {
        let Loyalty = $('#LoyaltySelect').val();
        $("#Type").empty();
        if (Loyalty == '') {
            $("#Type").append('<option value="">- Pilih Jenis Hadiah -</option>');
        } else {
            $("#Type").append('<option value="">- Pilih Jenis Hadiah -</option>');
            $("#Type").append('<option value="Uang">Uang</option>');
            $("#Type").append('<option value="Barang">Barang</option>');
            if (Loyalty !== 'Diamond') {
                $("#Type").append('<option value="Tiket">Tiket</option>');
            }
        }
        $("#nominal, #barang").hide();
        $("#Barang, #Nominal, #Level").val('').prop('readonly', false);
    });

    $("#Type").on('change', function (e) {
        let Loyalties = ["Bronze", "Silver", "Gold", "Platinum", "Diamond"];
        let Type = $(this).val();
        let Loyalty = $("#LoyaltySelect").val();
        let currentIndex = Loyalties.indexOf(Loyalty);
        let nextLoyalty = currentIndex >= 0 && currentIndex < Loyalties.length - 1
            ? Loyalties[currentIndex + 1]
            : Loyalty;
        if (Type === 'Uang') {
            $("#barang").hide();
            $("#nominal").show();
            $("#Barang, #Nominal").val('').prop('readonly', false);
        } else if (Type === 'Barang') {
            $("#nominal").hide();
            $("#barang").show();
            $("#Barang, #Nominal").val('').prop('readonly', false);
        } else if (Type === 'Tiket') {
            $("#nominal").hide();
            $("#barang").show();
            $("#Barang, #Nominal").val('');
            $("#Barang").val(`Free Spin Ticket ` + nextLoyalty).prop('readonly', true);
        } else {
            $("#nominal, #barang").hide();
            $("#Barang, #Nominal").val('').prop('readonly', false);
        }
    });

    $(".formSubmit").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/updatePrize',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                ID: $("#ID").val(),
                Loyalty: $("#LoyaltySelect").val(),
                Type: $("#Type").val(),
                Jenis: $("#Jenis").val(),
                Nominal: $("#Nominal").val(),
                Barang: $("#Barang").val(),
                Level: $("#Level").val(),
            },
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
            },
            success: function (response) {
                $('#btnSubmit').removeAttr('disabled')
                if (response.error) {
                    if (response.error.Loyalty) {
                        $("#errLoyaltySelect").text(response.error.Loyalty)
                        $("#LoyaltySelect").addClass('is-invalid')
                    } else {
                        $("#errLoyaltySelect").text('')
                        $("#LoyaltySelect").removeClass('is-invalid')
                    }
                    if (response.error.Type) {
                        $("#errType").text(response.error.Type)
                        $("#Type").addClass('is-invalid')
                    } else {
                        $("#errType").text('')
                        $("#Type").removeClass('is-invalid')
                    }
                    if (response.error.Prize) {
                        $("#errNominal").text(response.error.Prize)
                        $("#Nominal").addClass('is-invalid')
                        $("#errBarang").text(response.error.Prize)
                        $("#Barang").addClass('is-invalid')
                    } else {
                        $("#errNominal").text('')
                        $("#Nominal").removeClass('is-invalid')
                        $("#errBarang").text('')
                        $("#Barang").removeClass('is-invalid')
                    }
                    if (response.error.Level) {
                        $("#errLevel").text(response.error.Level)
                        $("#Level").addClass('is-invalid')
                    } else {
                        $("#errLevel").text('')
                        $("#Level").removeClass('is-invalid')
                    }
                } else {
                    // window.location.reload()
                    $('#updatePrizeModal').modal('hide')
                    // luckyspinPrize.ajax.reload(null, false)
                    getDataPrize($("#LoyaltySelect").val())
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>