<div class="modal fade" id="accessAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Access Admin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit">
                <div class="modal-body bg-white">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
                            <thead>
                                <th>Menu</th>
                                <th>Akses</th>
                            </thead>
                            <tbody>
                                <tr class="bg-primary">
                                    <td colspan="2" class="fw-bold text-white">
                                        Dashboard
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        WA OTP
                                    </td>
                                    <td>
                                        <span
                                            class="badge rounded-pill <%= data.otpAccess ? 'text-bg-success' : 'text-bg-danger'%>"
                                            onclick="updateAccess(this,12, '<%= data.username %>', '<%= data.otpAccess ? 1 : 0 %>')"
                                            style="cursor: pointer;">
                                            <%= data.otpAccess ? 'On' : 'Off' %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Level Up Approval
                                    </td>
                                    <td>
                                        <span
                                            class="badge rounded-pill <%= data.levelAccess ? 'text-bg-success' : 'text-bg-danger'%>"
                                            onclick="updateAccess(this,11, '<%= data.username %>', '<%= data.levelAccess ? 1 : 0 %>')"
                                            style="cursor: pointer;">
                                            <%= data.levelAccess ? 'On' : 'Off' %>
                                        </span>
                                    </td>
                                </tr>
                                <% data.menu.forEach(function (item, index) { %>
                                    <tr class="bg-primary">
                                        <td colspan="2" class="fw-bold text-white">
                                            <%= item.Menu %>
                                        </td>
                                    </tr>
                                    <% item.submenu.forEach(function (sub, idx) { %>
                                        <tr>
                                            <td>
                                                <%= sub.Submenu %>
                                            </td>
                                            <td>
                                                <span
                                                    class="badge rounded-pill <%= sub.access ? 'text-bg-success' : 'text-bg-danger'%>"
                                                    onclick="updateAccess(this,'<%= sub.ID %>', '<%= data.username %>', '<%= sub.access ? 1 : 0 %>')"
                                                    style="cursor: pointer;">
                                                    <%= sub.access ? 'On' : 'Off' %>
                                                </span>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSubmit" onclick="window.location.reload()"
                        data-bs-dismiss="modal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function updateAccess(el, ID, Username, View) {
        $.ajax({
            url: '/updateUserAccess',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrfToken").val(),
                SubmenuID: ID,
                Username
            },
            beforeSend: function () {
                if (View == 1) {
                    $(el).removeClass('text-bg-success').addClass('text-bg-danger').text('Off')
                } else {
                    $(el).removeClass('text-bg-danger').addClass('text-bg-success').text('On')
                }
            },
            success: function (response) { },
            error: function (a, b, c) {
                alert(c)
            }
        })

    }
</script>