<div class="modal fade" id="updateRewardDailyRewardModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Daily Reward Prize</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="formSubmit">
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="row mb-3">
                <div class="col">
                  <input type="hidden" id="PeriodeID" name="PeriodeID" value="<%= data[0].PeriodeID %>">
                  <label for="">Start Date</label>
                  <input type="text" class="form-control" value="<%= data[0].StartDate %>" readonly>
                </div>
                <div class="col">
                  <label for="">End Date</label>
                  <input type="text" class="form-control" value="<%= data[0].EndDate %>" readonly>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <div class="table-responsive bg-white text-center">
                    <table class="table">
                      <thead>
                        <th>Day</th>
                        <th>Reward</th>
                      </thead>
                      <tbody>
                        <% data.forEach((el,index)=> { %>
                          <tr>
                            <td>Day <%= index + 1 %>
                            </td>
                            <td>
                              <%= el.Reward %>
                            </td>
                          </tr>
                          <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <br>
              <div class="row justify-content-center">
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 1</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day1" name="Day1">
                  <div id="errDay1" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 2</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day2" name="Day2">
                  <div id="errDay2" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 3</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day3" name="Day3">
                  <div id="errDay3" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 4</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day4" name="Day4">
                  <div id="errDay4" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 5</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day5" name="Day5">
                  <div id="errDay5" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 6</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day6" name="Day6">
                  <div id="errDay6" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Day 7</span>
                  <input type="text" class="form-control" placeholder="Prize" id="Day7" name="Day7">
                  <div id="errDay7" class="invalid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" class="btnSubmit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(".formSubmit").on(' submit', function (e) {
    e.preventDefault(); $.ajax({
      url: '/updateRewardDailyReward',
      type: 'post', dataType: 'json', data: $(this).serialize(), beforeSend: function () {
        $('#btnSubmit').attr('disabled', 'disabled')
      }, success: function (response) {
        $('#btnSubmit').removeAttr('disabled'); if (response.error) {
          Object.keys(response.error).forEach((key) => {
            if (response.error[key]) {
              $(`#err${key}`).text(response.error[key]);
              $(`#${key}`).addClass('is-invalid');
            } else {
              $(`#err${key}`).text('');
              $(`#${key}`).removeClass('is-invalid');
            }
          });
        } else {
          window.location.reload()
        }
      },
      error: function (a, b, c) {
        alert(c)
      }
    })
  })
</script>