<div class="table-responsive text-black">
    <h3 class="text-danger">Mohon untuk Set Reward pada periode yang baru saja dibuat, Periode yang sudah berjalan tidak
        bisa melakukan update reward, set reward maupun delete!</h3>
    <h4 class="text-danger">Mohon isi data dengan teliti sebelum periode berjalan.</h4>
    <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
    <table class="table" id="tableDailyReward">
        <thead>
            <th>#</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% data.forEach(el=> { %>
                <tr>
                    <td>
                        #<%= el.ID %>
                    </td>
                    <td>
                        <%= el.StartDate %>
                    </td>
                    <td>
                        <%= el.EndDate %>
                    </td>
                    <td>
                        <% if(el.Status=="Running" ){ %>
                            <span class="badge text-bg-success">Running</span>
                            <% }else if(el.Status=="Expired" ){ %>
                                <span class="badge text-bg-danger">Expired</span>
                                <% }else{ %>
                                    <span class="badge text-bg-warning">Coming Soon</span>
                                    <% } %>
                    </td>
                    <td>
                        <% if(el.Status=='Coming Soon' ) { %>
                            <% if(el.PeriodeID==null) { %>
                                <button class="btn btn-secondary btn-sm" type="button"
                                    onclick="setReward('<%= el.ID %>')">Set Reward</button>
                                <button class="btn btn-info btn-sm" type="button"
                                    onclick="updatePeriode('<%= el.ID %>')">Update Periode</button>
                                <% } else { %>
                                    <button class="btn btn-secondary btn-sm" type="button"
                                        onclick="updateReward('<%= el.ID %>')">Update Reward</button>
                                    <button class="btn btn-info btn-sm" type="button"
                                        onclick="updatePeriode('<%= el.ID %>')">Update Periode</button>
                                    <% } %>
                                        <button class="btn btn-danger btn-sm" type="button"
                                            onclick="deletePeriode('<%= el.ID %>')">Delete</button>
                                        <% } else { %>
                                            <% if(el.PeriodeID==null) { %>
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                    onclick="setReward('<%= el.ID %>')">Set Reward</button>
                                                <button class="btn btn-info btn-sm" type="button"
                                                    onclick="updatePeriode('<%= el.ID %>')">Update Periode</button>
                                                <% } %>
                                                    <% } %>

                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<div id="viewDataTableModal" style="display: none;"></div>
<script>
    $(document).ready(function () {
        $('#tableDailyReward').DataTable({
            ordering: false,
            searching: false,
        });
    });
    function setReward(ID) {
        $.ajax({
            url: '/getSetRewardDailyReward',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                PeriodeID: ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#setRewardDailyRewardModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }
    function updatePeriode(ID) {
        $.ajax({
            url: '/getUpdatePeriodeDailyReward',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                PeriodeID: ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#updatePeriodeDailyRewardModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }
    function updateReward(ID) {
        $.ajax({
            url: '/getUpdateRewardDailyReward',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                PeriodeID: ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#updateRewardDailyRewardModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }
    function deletePeriode(ID) {
        $.ajax({
            url: '/getDeletePeriodeDailyReward',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                PeriodeID: ID
            },
            success: function (response) {
                $("#viewDataTableModal").html(response.view).show()
                $("#deletePeriodeDailyRewardModal").modal('show')
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    }
</script>